<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Invensense CSPM</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Mannatthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" sizes="16x16">

        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/icons.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">

</head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <div class="text-center m-b-15">
                        <a href="index.html" class="logo logo-admin"><img src="{% static 'images/logo1.svg' %}" height="24" alt="logo"></a>
                    </div>

                    <div class="p-3">
                        <form class="form-horizontal" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-12">
                                    <center><h3>AWS configaration</h3></center>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" name="profile_name" type="text" required="" placeholder="AWS profile name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input type="text" id="textInput" name="username" style="display: none;">
                                    <input class="form-control" name="aws_accsess_key" type="password" required="" placeholder="AWS access key">
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" name="aws_secret_key" type="password" required="" placeholder="AWS secret key">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <select class="form-control" id="dropdown" name="dropdown">
                                          <option value="ap-south-1">ap-south-1</option>
                                          <option value="ap-northeast-1">ap-northeast-1</option>
                                          <option value="ap-northeast-2">ap-northeast-2</option>
                                          <option value="ap-northeast-3">ap-northeast-3</option>
                                          <option value="ap-southeast-1">ap-southeast-1</option>
                                          <option value="ap-southeast-2">ap-southeast-2</option>
                                          <option value="ca-central-1">ca-central-1</option>
                                          <option value="eu-central-1">eu-central-1</option>
                                          <option value="eu-north-1">eu-north-1</option>
                                          <option value="eu-west-1">eu-west-1</option>
                                          <option value="eu-west-2">eu-west-2</option>
                                          <option value="eu-west-3">eu-west-3</option>  
                                          <option value="sa-east-1">sa-east-1</option>
                                          <option value="us-east-1">us-east-1</option>
                                          <option value="us-east-2">us-east-2</option>
                                          <option value="us-west-1">us-west-1</option>
                                          <option value="us-west-2">us-west-2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="my_checkbox">
                                        <label class="custom-control-label font-weight-normal" for="customCheck1">I accept <a href="#" class="text-muted">Terms and Conditions</a></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="btn btn-danger btn-block waves-effect waves-light" type="submit">Register</button>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>



        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/popper.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/modernizr.min.js'%}"></script>
        <script src="{% static 'js/detect.js'%}"></script>
        <script src="{% static 'js/fastclick.js'%}"></script>
        <script src="{% static 'js/jquery.slimscroll.js'%}"></script>
        <script src="{% static 'js/jquery.blockUI.js'%}"></script>
        <script src="{% static 'js/waves.js'%}"></script>
        <script src="{% static 'js/jquery.nicescroll.js'%}"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js'%}"></script>

        <!-- App js -->
        <script src="{% static 'js/app.js'%}"></script>

    </body>
</html>