{% load static %}
{% include "header.html" %}

<div class="page-content-wrapper ">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">invinsense</a></li>
                            <li class="breadcrumb-item "><a href="{% url 'repo' %}">reposatary-scan</a></li>
                            <li class="breadcrumb-item active">git-scan-history</li>
                        </ol>
                    </div>
                    <h4 class="page-title">git-scan-history</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

<!------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <!--                <h4 class="mt-0 header-title">Edit Table With Button</h4>-->

                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Account no</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th class="tabledit-toolbar-column"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for file_name,index,time,date in jsonfilenames %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="filename" value="{{ file_name }}">

                            <tr id="1">
                                <td><span class="tabledit-span tabledit-identifier">{{index}}</span><input
                                        class="tabledit-input tabledit-identifier" type="hidden" name="id" value="1"
                                        disabled=""></td>
                                <td class="tabledit-view-mode"><span class="tabledit-span">{{ file_name }}</span><input
                                        class="tabledit-input form-control input-sm" type="text" name="col1"
                                        value="John" style="display: none;" disabled=""></td>
                                <td class="tabledit-view-mode"><span class="tabledit-span">{{date}}</span><input
                                        class="tabledit-input form-control input-sm" type="text" name="col1" value="Doe"
                                        style="display: none;" disabled=""></td>
                                <td class="tabledit-view-mode"><span class="tabledit-span">{{time}}</span><input
                                        class="tabledit-input form-control input-sm" type="text" name="col3"
                                        value="john@example.com" style="display: none;" disabled=""></td>
                                <td style="white-space: nowrap; width: 15%;">
                                    <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                        <div class="btn-group btn-group-sm" style="float: none;">
                                            <input type="hidden" value="prowler-output-891377055878-20240201175919.json"
                                                   name="file-name" display="none">
                                            <button type="submit" class="btn btn-primary waves-effect-light">
                                                <i class="mdi mdi-eye mr-2"></i>
                                                view
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------->
</div> <!-- content -->



{% include "footer.html" %}